.aboutFEJ {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-bottom: 36px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(66, 66, 66);
}
.subtitle {
    margin: 0 0 0.1em 0;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(66, 66, 66);
}
.fancy {
    line-height: 0.2;
    text-align: center;
}
.fancy span {
    display: inline-block;
    position: relative;  
}
.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 6px;
    border-bottom: 2px solid rgb(177, 58, 58);
    border-top: 2px solid rgb(177, 58, 58);
    top: 0;
    width: 310px;
  }
.fancy span:before {
    right: 100%;
    margin-right: 1px;
}
.fancy span:after {
    left: 100%;
    margin-left: 1px;
}
.copy {
    text-align: justify;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    padding: 40px;
}
.copy p {
    margin: 0 0 1em 0;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
}
.imagesDiv {
    margin-top: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.imagesDiv img {
    vertical-align: middle;
    border-radius: 50%;
    max-width: 30%;
    height: auto;
    margin-top: -30px;
    margin-bottom: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fancyText {
    text-align: center;
    font-style: italic;
    margin-left: 90px;
    margin-right: 90px;
    padding: 32px;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    margin-bottom: -40px;
}
.team {
    margin-bottom: 60px;
    font-family: 'Playfair Display', serif;
}
.team p:nth-child(2) {
    font-size: 20px;
    color: rgb(177, 58, 58);
    font-weight: bold;
}
.team p:nth-child(3) {
    font-size: 15px;
    margin-top: -6px;
}
@media (min-width: 48em) {
.imagesDiv img {
    max-width: 50%;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
}
.team {
    flex: 1 1 30%;
}
.imagesDiv {
    flex-direction: row;
}

}