.recipeList {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 1.5em;
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  height: 85%;
  max-width: 550px;
  width: 80%;
  background-color:white;    
  color: rgb(66, 66, 66);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.link {
  color: rgb(66, 66, 66);
}
.recipeList img {
  width: 100%;
  height: auto; 
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
span {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.recipeName {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}
.recipeNr {
  font-size: 15px;
  font-style: italic;
  margin-top: 10px;
}
.hr {
  width: 96.5%;
  margin-top: -2px;
}
@media (min-width: 48em) {
  .main {
    margin: 0 auto; 
    padding-left: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    max-width: 1200px;
  }
  .recipeList {
    margin-left: 10px;
    margin-right: 10px;
    width: 80%;
  }
}