.flexcontainer {
    margin-left: 8em;
    margin-right: 8em;
    display: flex;
    flex-direction: column;
}
.information-recept {
    margin-top: 30px;
    font-family: 'Playfair Display', serif;
    color: #555050;
}
.specRecipeName {
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: bold;
    color: #a4332f;
}
.stars i {
    margin-right: 5px;
    color: rgb(240, 225, 13);
    font-size: 20px;
    margin-bottom: 25px;
}
.stars i:nth-child(5) {
    color: rgb(226, 226, 226);
}
.ingress {
    margin-top: 20px;
    font-size: 17px;
    font-style: italic;
}
.ingredienser {
    margin-top: -15px;
}
.ingredienser p {
    border-bottom: 1px solid black;
}
.spara {
    background-color:#BF443D;
    border: 0px;
    padding: 6px;
    border-radius: 30px;
    font-size: 15px;
    width: 25%;
    margin-top: 10px;
    margin-bottom: 40px;
}
.spara:hover {
    background-color: #a4332f;
}
.do-like {
    margin-top: -15px;
    grid-column: 3/4;
}
.to-do {
    margin-left: 8em;
    margin-right: 8em;
    display: grid;
    grid-template-columns: 27% 23% 23% 27%;
    font-family: 'Playfair Display', serif;
}
.ingredienser,
h1dolike {
    font-size: 25px;
}
.prep {
    color: #a4332f;
    font-size: 15px;
}
.receptfor {
    font-size: 16px;    
    margin-top: 20px;
    margin-bottom: 20px;
    color: #a4332f;
}
@media (min-width: 48em) {
    .aller {
        margin-left: 80px; 
        font-family: 'Playfair Display', serif;
    }
    .aller {
        font-size: 15px;
    }
    .to-do {
      grid-template-columns: 40% 5% 50% 5%; 
      margin-bottom: 10px;
    }
    .do-like {
        font-size: 15px;
    }
    .ingredienser p {
        font-size: 15px;
    }
    select {
        width: auto;
        padding: 9px 9px;
        margin-bottom: 5px;
        margin-left: 13%;
        border: none;
        border-radius: 2px;
        font-family: "Merriweather", serif;
        color: #555050;
        font-size: 20px; 
    }
    .spara {
    width: 15%;
    }
    .flexcontainer {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        padding-top: 10px;
        padding-left: 85px;
        font-family: 'Playfair Display', serif;
        margin-bottom: 60px;
    }
    .information-recept {
        margin-top: 60px;
        padding-left: 30px;
        max-width: 60%
    }
    .to-do {
        margin-bottom: 40px;
    }
    .specRecipeName {
        font-size: 30px;
    }
}
@media (max-width: 45em) {
    .to-do {
      grid-template-columns: 1fr; 
    } 
    .do-like {
      grid-column: auto; 
      color: #555050;
    } 
    .h1dolike {
        margin-top: 40px;
    }
    .ingredienser p {
        border-bottom: 1px solid black;
        width: 50%;
        font-size: 15px;
    }
    select {
        width: auto;
        padding: 9px 9px;
        margin-bottom: 5px;
        margin-left: 13%;
        border: none;
        border-radius: 2px;
        font-family: "Merriweather", serif;
        color: #555050;
        font-size: 20px; 
    }
    .receptfor .opt {
        font-family: "Merriweather", serif;
        font-size: 20px; 
    }
    .do-like {
        font-size: 17px;
    }
}