footer { 
  background: #a4332f;
  padding: 10px;
  text-align: center;
  color:rgb(255, 236, 202);
  font-size: 18px;
  border-top: 7px solid rgb(247, 228, 167);
  display: flex;
  justify-content: space-between; 
}
footer .social-media h4,
footer .copy h4,
footer .kontakt h4 {
  color: rgb(247, 228, 167);
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 18px;
}
footer .kontakt p {
  color: rgb(255, 236, 202);
  font-size: 15px; 
}
footer p:nth-child(3) {
  margin: 0 auto;
  margin-top: -8px;
}
footer .social-media i {
  font-size: 30px;  
}
footer .social-media i:nth-child(-n+2) {
  margin-right: 16px 
}  
@media (min-width: 48em) {
  footer .social-media h4,
  footer .copy h4,
  footer .kontakt h4 {
    font-size: 22px; 
  }
  footer .social-media {
    margin-left: 10%; }
  footer .kontakt {
    margin-right: 10%; 
  } 
}