.fa-user {
    color: rgb(255, 236, 202);
    font-size: 30px;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
}
.fa-user:hover {
    color: #A4332F;
}
.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: transparent;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
}
.viaOr {
    margin-top: -18px;
    font-size: 14px;
}
.social-buttons .fa-facebook,
.social-buttons .fa-twitter, {
    font-size: 14px;
}

.btnS {
    border: none;
    font-size: 14px;
    border: none;
    margin-bottom: 5px;
}
.btnFb {
    background-color:#3b5998;
    margin-right: 5px;
    cursor: pointer;
}
.btnFb:hover{
    color: #fff;
    background-color:#496ebc; 
}
.btnTw {
    cursor: pointer;
    background-color:#55acee;
}
.btnTw:hover{
    color: #fff;
    background-color:#59b5fa;
}
.forgot {
    margin-top: -5px;
    margin-bottom: -5px;
    color: #A4332F;
    font-size: 14px;
}
.join {
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #A4332F;
    cursor: pointer;
}
.or {
    margin-bottom: 5px;
    margin-top: 2px;
}
.inputForm {
    padding:12px;
    font-size: 14px;
}
.Z {
    margin-bottom: -5px;
}
form .btn-success {
    line-height: 8px;
    font-size: 15px;
    width: 100%;
    margin-bottom: 5px;
    font-style: normal;
}
form .btnRegister {
    line-height: 8px;
    font-size: 15px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}
#sidebarMenu {
    font-family: 'Playfair Display', serif; 
    height: 53%;
    right:0;
    top: 3;
    position: absolute;
    width: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top:-30px;
    transform: translateX(300px);
    transition: transform 250ms ease-in-out;
    background-color: white;
    border: 1px solid #c9c9c9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    font-style: normal;
}
.sidebarMenuInner li{
    list-style: none;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
   cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    right: 15px;
    height: 22px;
    width: 22px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
.formBtn{
  width: 100px;
}
.loginUserBtn{
  width: 100px;
}
.registerH {
    margin-top: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
   }
   .registerH:before,
   .registerH:after {
    background-color:#A4332F;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
   }
   .registerH:before {
    right: 0.5em;
    margin-left: -50%;
   }
   .registerH:after {
    left: 0.5em;
    margin-right: -50%;
   }
   .Y {
       margin-top: -5px;
       margin-bottom: -5px;
   }
   .tillbaka {
       background-color: #A4332F;
       line-height: 8px;
       font-size: 15px;
       width: 100%;
       padding: 10px;
       border-radius: 10px;
       font-weight: bold;
   }
   .redHR {
    background-color: #A4332F;
   }

@media (min-width: 48em) {
.fa-user {
    margin-right: 40px;
    float: right;
}
#sidebarMenu {
    height: 50%;
}
}