.navbar {  
    font-family: 'Playfair Display', serif; 
    font-style: italic;
    background-color:#BF443D;
    border-top: 10px solid #A4332F;
    box-shadow: 0px 10px  #A4332F;
    padding: 40px;
    margin-bottom: 40px;
    border-radius: 0;
}
.navbar .navbar-brand {
    color: rgb(255, 236, 202);
    font-size: 30px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 236, 202);
    font-size: 20px;
    margin-top: 4px;
    margin-left:3px;
    margin-right:30px;

}
.navbar-light .navbar-nav a {
    color: rgb(255, 236, 202);
    font-size: 20px;
    margin-top: 4px;
    margin-left:3px;
    margin-right:30px;

}
.navbar-light .navbar-nav a:hover {
    color: #A4332F;
}
.navbar .navbar-brand:hover { 
    color:rgb(255, 236, 202); 
}
.navbar .navbar-toggler {
    margin-top: 10px;
    background-color: rgb(255, 236, 202);
    border:none;   
}
.navbar-light .navbar-nav .dropdown-toggle:hover {
    color: #A4332F;
}