.navbar {  
    font-family: 'Playfair Display', serif; 
    font-style: italic;
    background-color:#BF443D;
    border-top: 10px solid #A4332F;
    box-shadow: 0px 10px  #A4332F;
    padding: 40px;
    margin-bottom: 40px;
    border-radius: 0;
}
.navbar .navbar-brand {
    color: rgb(255, 236, 202);
    font-size: 30px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 236, 202);
    font-size: 20px;
    margin-top: 4px;
    margin-left:3px;
    margin-right:30px;

}
.navbar-light .navbar-nav a {
    color: rgb(255, 236, 202);
    font-size: 20px;
    margin-top: 4px;
    margin-left:3px;
    margin-right:30px;

}
.navbar-light .navbar-nav a:hover {
    color: #A4332F;
}
.navbar .navbar-brand:hover { 
    color:rgb(255, 236, 202); 
}
.navbar .navbar-toggler {
    margin-top: 10px;
    background-color: rgb(255, 236, 202);
    border:none;   
}
.navbar-light .navbar-nav .dropdown-toggle:hover {
    color: #A4332F;
}
.navbar-light .navbar-nav .dropdown-toggle::after {
    color: #A4332F;
}
.navbar-light .navbar-nav .dropdown-toggle {
    color: rgb(255, 236, 202);
}
.dropdown-menu {
    padding: 10px;
    border-radius: 10px;
    font-style: normal;
    width: 220px;
}
.social-buttons .fa-facebook,
.social-buttons .fa-twitter, {
    font-size: 14px;
}
.form input {
    padding:12px;
    font-size: 14px;
}
.btnS {
    border: none;
    font-size: 14px;
    border: none;
    margin-bottom: 5px;
}
.btnFb {
    background-color:#3b5998;
    margin-right: 5px;
}
.btnFb:hover{
    color: #fff;
    background-color:#496ebc; 
}
.btnTw{
    background-color:#55acee;
}
.btnTw:hover{
    color: #fff;
    background-color:#59b5fa;
}
.forgot {
    margin-top: 5px;
    color: #A4332F;
    font-size: 11px;
}
.dropdown-menu .viaOr,
.dropdown-menu .join {
    font-size: 14px;
}
.form-group .btn-success {
    margin-top: -3px;
    line-height: 8px;
    font-size: 15px;
    width: 100%;
    margin-bottom: 0px;
}
.join {
    text-align: center;
    border-bottom: 1px solid #A4332F;
    cursor: pointer;
}
.dropdown-menu span {
    display: block;
}
.or {
    margin-bottom: 3px;
}