.kategoriNamn {
  padding-left: 7.5em;
  padding-top: 5px;
  font-family: 'Playfair Display', serif;
  color: #a4332f;
  margin-bottom: 20px;
}
.recipeListCard {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 1.5em;
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  height: 85%;
  max-width: 330px;
  width: 80%;
  background-color:white;  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.grid-container img {
  width: 100%;
  padding: 0px;
  height: auto; 
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.titleCardList {
  padding: 5px;
  font-size: 15px;
  color: rgb(66, 66, 66);
  font-weight: bold;
}
.bodyCardList {
  padding: 5px;
  font-size: 12px;
  color: rgb(66, 66, 66);
  font-style: italic;
}
.readMore{
  float: right;
  border: 1px solid #a4332f;
  background-color: #a4332f;
  border-radius: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}
.readMore:hover {
  background-color: #8b110d;
  color: white;
}

@media (min-width: 48em) {
.grid-container img {
  width: 200px;
  height: 200px;
  margin-top: -15px;
  margin-left: 5px;
  border-radius: 0px;
}
.recipeListCard {
  display: block;
  max-width: 80%;
  margin-bottom: 2em;
  margin-left: 14em;
  margin-right: 14em;
  background-color: white;
  color: black;
  border-radius: 10px;
  font-size: 16px;
}
  .imgCardList { grid-area: a; }
  .titleCardList { grid-area: b; }
  .bodyCardList { grid-area: c; }

.grid-container {
  display: grid;
  grid-template-areas:
      'a b b b'
      'a c c c';
  grid-gap: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  .grid-container > div {
    text-align: left;
    padding: 20px 0;
    flex-direction: column;
  }
  .titleCardList {
    font-size: 23px;
    margin-top: -10px;
    margin-left: 0.6em;
  }
  .bodyCardList {
    font-size: 18px;
    color: rgb(66, 66, 66);
    font-style: italic;
    margin-left: 0.6em;
    margin-top: -2em;
  }
  
}